<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div>
		#parse("layout/header.vm")
		<div class="body">$screen_content</div>
		#parse("layout/footer.vm")
	</div>
</body>
</html>
