.header {
	color: red;
	border: solid; 
	width : 100%;
	height: 100px;
	width: 100%;
}

.body {
	color: yellow;
	border: solid;
	width: 100%;
	height: 100px;
}

.footer {
	color: blue;
	border: solid;
	width: 100%;
	height: 100px;
}